<footer class="footer">
    <div class="footer__content">
        <div class="footer__content-img">
            <a href="./index.html"><img src="./assets/img/logo_white.png" alt="logo2"></a>
        </div>
        <nav class="footer__content-nav">
            <ul>
                <li><a href="./about.html">Про нас</a></li>
                <li><a href="./youth_organization.html">Молодіжна рада</a></li>
                <li><a href="./news.html">Новини</a></li>
            </ul>
            <ul>
                <li><a href="./camps.html">Табори</a></li>
                <li><a href="./members.html">Стати членом</a></li>
                <li><a href="./support.html">Підтримати нас</a></li>
            </ul>
        </nav>
        <div class="footer__content-social">
            <div class="social-label">Наші соц. мережі</div>
            <ul>
                <li>
                    <a href="#" target="_blank"><img src="./assets/img/google.png" alt="gmail"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img src="./assets/img/faceboock.png" alt="facebook"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img src="./assets/img/instagram.png" alt="instagram"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img src="./assets/img/telegram.png" alt="telegram"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
