<header class="header">
    <nav class="header__nav">
        <div class="header__nav-img">
            <a href="./index.html"><img src="./assets/img/logo_blue.png" alt="logo"></a>
        </div>
        <ul class="header__nav-menu">
            <li><a href="./about.html">Про нас</a></li>
            <li><a href="./youth_organization.html">Молодіжна рада</a></li>
            <li><a href="./news.html">Новини</a></li>
            <li><a href="./camps.html">Табори</a></li>
            <li><a href="./members.html">Стати членом</a></li>
            <li><a href="./support.html">Підтримати нас</a></li>
        </ul>
        <div class="header__dropdown">
            <div class="header__nav-lang">
                <a href="./index.html"><img src="./assets/img/ua.png" alt="lang"></a>
            </div>
            <div id="myDropdown" class="header__dropdown-content">
                <div class="header__nav-lang">
                    <a href="./index.html"><img src="./assets/img/pl.png" alt="lang"></a>
                </div>
                <div class="header__nav-lang">
                    <a href="./index.html"><img src="./assets/img/en.png" alt="lang"></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="header__burger">
        <a href="./index.html"><img src="./assets/img/logo_blue.png" alt="Home"></a>
        <div class="header__burger-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="header__burger-menu">
        <nav class='header__burger-nav'>
            <ul class="header__burger-ul">
                <li><a href="./youth_organization.html">Молодіжна рада</a></li>
                <li><a href="./news.html">Новини</a></li>
                <li><a href="./camps.html">Табори</a></li>
                <li><a href="./members.html">Стати членом</a></li>
                <li><a href="./support.html">Підтримати нас</a></li>
                <li><a href="./about.html">Про нас</a></li>
                <li>
                    <ul class="header__burger-lang">
                        <li><a href="./index.html">UA</a></li>
                        <li><a href="./index.html">PL</a></li>
                        <li><a href="./index.html">EN</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
